/* CSS Variables */
:root {
  --color-bg: #0a11172d;
  --color-dark-gunmetal: #182632;
  --color-gunmetal: #243241;
  --color-purple-light: #e2c1f9;
  --color-yellow: #ffc803;
  --color-white: #fff;
  --color-platinum: #e5e5e5;
  --color-blue-hover: #5021ff;
  --color-error-red: #E84142;
  --font-family-mono: "PT Mono", monospace;
  --animation-duration: 0.5s;
}

* {
  color: var(--color-white);
  font-family: var(--font-family-mono);
}

body {
  min-height: 100vh;
  background-color: var(--color-bg);
  font-weight: 700;
  background-image: linear-gradient(0deg,
      #3a3b45 0%,
      #5d809d 50%,
      #0a1117 100%);
}

/* Header Styles */

header {
  min-height: 4.375rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-dark-gunmetal);
  border-bottom: 0.0625rem solid var(--color-gunmetal);
  z-index: 100;
  transition: opacity 0.5s ease, transform 0.5s ease;
  padding: 0 1.875rem;
}

.navbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 4.375rem;
  border-bottom: 0.0625rem solid var(--color-gunmetal);
  transform: translateY(-100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
  padding: 0 1.875rem;
}

#logo_name {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.1875rem;
  display: inline-block;
  padding: 0.3125rem;
  color: var(--color-platinum);
}

.nav_item {
  display: flex;
  gap: 1.25rem;
  align-items: center;
}

.nav_list {
  list-style: none;
  display: flex;
  gap: 1.25rem;
}

.nav_list a {
  text-decoration: none;
  color: var(--color-white);
  padding-bottom: 0.625rem;
  border-bottom: 0.125rem solid transparent;
  transition: color 0.3s ease, border-bottom 0.4s ease-in-out;
}

.nav_list a:hover {
  color: var(--color-blue-hover);
  border-bottom-color: var(--color-blue-hover);
}

.register_btn,
.more_btn {
  padding: 0.6875rem 1.25rem;
  border-radius: 0.75rem;
  background-color: var(--color-gunmetal);
  cursor: pointer;
  margin: 0 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.register_btn:hover,
.more_btn:hover {
  background-color: var(--color-blue-hover);
  transform: scale(1.05);
}

.menu_icon {
  display: none;
  height: 1.875rem;
}

.nav_item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/*Menu Animation */
@-webkit-keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slideUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.nav_list.active {
  -webkit-animation: slideDown var(--animation-duration) ease-in-out;
          animation: slideDown var(--animation-duration) ease-in-out;
}

.nav_list:not(.active) {
  max-height: 0;
  -webkit-animation: slideUp var(--animation-duration) ease-in-out;
          animation: slideUp var(--animation-duration) ease-in-out;
  overflow: hidden;
}

/* Registration Page */
.register-link {
  display: none;
}

#registration_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: auto;
  gap: 20%;
  color: var(--color-purple-light);
}

.greetings_card {
  width: clamp(12.5rem, 100%, 25rem);
  min-height: 18.75rem;
  display: grid;
  align-content: space-evenly;
  box-shadow: .625rem .875rem 1.125rem .125rem rgba(4, 64, 148, 0.487);
}

.backIcon {
  width: 1.875rem;
  vertical-align: middle;
}

.cancel,
.sign_text,
.signMessage {
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
}

.sign_text {
  font-size: 3.125rem;
  line-height: 4.0625rem;
  color: var(--color-blue-hover);
  -webkit-animation: signText 5s linear infinite;
          animation: signText 5s linear infinite;
}


@-webkit-keyframes signText {
  0% {
    color: #bc7af9;
  }

  50% {
    color: #f8ff95;
  }

  100% {
    color: #a6ff96;
  }
}


@keyframes signText {
  0% {
    color: #bc7af9;
  }

  50% {
    color: #f8ff95;
  }

  100% {
    color: #a6ff96;
  }
}

.signMessage {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.register_card {
  width: clamp(12.5rem, 100%, 37.5rem);
  box-shadow: 1.25rem .875rem 14.25rem 6.25rem rgba(4, 64, 148, 0.487);
}

.register_nameItem {
  height: 3.75rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: .4375rem 1.25rem 6.75rem .125rem var(--color-yellow);
  border-bottom: .125rem solid var(--color-yellow);
}

.name-input {
  margin-bottom: 1.25rem;
}

/* Form Styles */
.form_group {
  margin-bottom: 1.25rem;
}

.user_form {
  background-color: #103f986a;
}

label {
  display: block;
  margin: .8125rem .5rem;
}

.form_group label {
  color: var(--color-purple-light);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="date"] {
  width: 100%;
  height: 3.75rem;
  border-radius: .3125rem;
  border: .125rem solid #038abff0;
  background-color: #0f202f40;
  box-shadow: .0625rem .3125rem .5rem .75rem #01369988;
  padding: 0 1.25rem;
  margin-bottom: 1rem;
}

input[type="checkbox"] {
  margin-right: .3125rem;
}

.form_group input:hover {
  border: .125rem solid var(--color-yellow);
  box-shadow: 0rem .0625rem .3125rem 0rem var(--color-yellow);
}

.form_group input:focus {
  border: .125rem solid var(--color-purple-light);
  box-shadow: 0rem .0625rem .3125rem 0rem var(--color-purple-light);
}

.login {
  width: clamp(3.125rem, 100%, 9.375rem);
  height: 3.125rem;
  display: block;
}

.input_error {
  color: var(--color-error-red);
  font-size: .875rem;
  display: none;
}

.password_input_container {
  position: relative;
}

.password_input {
  padding-right: 1.875rem;
}

.password_toggle_icon {
  cursor: pointer;
  width: 1.75rem;
  position: absolute;
  right: 1.1875rem;
  top: 40%;
  transform: translateY(-50%);
  z-index: 1;
}

.success-container {
  width: clamp(9.375rem, 90%, 25rem);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3.125rem 1.25rem;
  text-align: center;
  -webkit-animation: slide-in 0.5s ease-in-out;
          animation: slide-in 0.5s ease-in-out;
  border-radius: 1.25rem;
  background-color: var(--color-gunmetal);
  box-shadow: .125rem .875rem 18.75rem #038abff0;
  display: none;
  z-index: 20;
}

.success-content h2 {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: .25rem;
  color: #16FF00;
}

.success-content p {
  color: #FFED00;
  font-size: 1.125rem;
  line-height: 3.125rem;
}

@-webkit-keyframes slide-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

#continueButton {
  border: none;
  min-width: 7.5rem;
  width: clamp(7.5rem, 100%, 18.75rem);
  height: 3.125rem;
  cursor: pointer;
  margin-top: 1.25rem;
  border-radius: .25rem;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--color-blue-hover);
}

#continueButton:hover {
  background-color: #5121ff8d;
}


.account_navIcon {
  width: 1.875rem;
}

.user {
  margin-right: 6.25rem;
}

.navbar_icon {
  display: flex;
  gap: .625rem;
}

/**------------------------------ Banner Section */
.banner_section {
  width: 95%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin: auto;
  overflow: hidden;
}


#customVideo::-webkit-media-controls,
#customVideo::-webkit-media-controls-enclosure,
#customVideo::-webkit-media-controls-panel,
#customVideo::media-controls-panel {
  display: none !important;
}

#customVideo {
  pointer-events: none;
}

#customVideo {
  width: clamp(9.375rem, 100%, 32.0625rem);
  pointer-events: none;
  border-radius: 2.125rem 39.5rem 8.6875rem 43rem;
  margin-top: -0.75rem;
  transform: rotate(260deg);
}

.banner_content {
  width: clamp(6.25rem, 100%, 39.6875rem);
  text-align: center;
  z-index: 1;
}


.greetings_card,
.FtMono {
  font-family: "Montserrat", sans-serif;
}


.welcome {
  font-size: 3.125rem;
  word-spacing: .3125rem;
  letter-spacing: .3125rem;
  background-image: linear-gradient(to right, #fbff00, #ff9100);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.share {
  line-height: 4.375rem;
}

.about_text {
  line-height: 1.875rem;
  margin: 2.1875rem;
  padding-bottom: .9375rem;
  text-align: start;
  border-bottom: .125rem solid rgb(194, 253, 194);
}

.more_btn {
  width: clamp(1.25rem, 100%, 21.875rem);
  height: 3.125rem;
  font-size: 1.0625rem;
}

.arrow_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  width: 3.125rem;
  border-radius: 50%;
  -webkit-animation: slideUpDown .6s infinite alternate;
          animation: slideUpDown .6s infinite alternate;
}

.arrow:hover {
  box-shadow: .75rem 1.3125rem 7.375rem .625rem var(--color-blue-hover);
}

@-webkit-keyframes slideUpDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(.625rem);
  }
}

@keyframes slideUpDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(.625rem);
  }
}

/** Roadmap Section */
.about_section {
  margin-top: 4.0625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.roadmap {
  width: clamp(12.5rem, 100%, 66.5rem);
  text-align: center;
  overflow: hidden;
}

.service {
  display: flex;
  justify-content: space-between;
  margin: 1.875rem 0;
}

.title {
  line-height: 3.375rem;
}

.service_name {
  margin: .625rem 0;
  color: #FFD600;
}

.service_list {
  line-height: 1.4375rem;
  text-align: start;
}

.creatorInfo {
  border-radius: 1.5rem;
  border: .1875rem solid #FFD12F;
  background: #ffffff05;
  margin-top: 3.125rem;
}

.country {
  width: clamp(12.5rem, 100%, 43.8125rem);
  min-height: 12.25rem;
  margin: 1.25rem auto;
}

.countryBox {
  border-radius: .75rem;
  background: rgba(255, 255, 255, 0.10);
  display: inline-flex;
  padding: .5rem 1.25rem .5rem .5rem;
  align-items: center;
  gap: 1rem;
  margin: 1.1875rem .3125rem -0.0625rem;
}

.card {
  width: clamp(12.5rem, 100%, 56.5rem);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: 1.25rem auto;
  gap: 2.5rem;
}

.card_content {
  width: clamp(12.5rem, 100%, 27rem);
  min-height: 14.75rem;
  color: #FFF;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
  border-radius: 1rem;
  padding: 1.75rem;
  background: #ffffff1a;
}

.uparrow {
  width: 2.5rem;
  position: fixed;
  right: 1.25rem;
  bottom: .625rem;
  z-index: 111;
}

.destinations {
  width: clamp(12.5rem, 100%, 68.875rem);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin: 1.875rem auto;
}

.rev {
  display: block;
  text-align: center;
  margin-bottom: 1.25rem;
}

.cityCard {
  width: clamp(6.25rem, 100%, 22.375rem);
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  margin: .625rem;
}

.cityImg {
  width: 100%;
  height: 31.4375rem;
  border-radius: 1.5rem;
}

.cityInfo {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #1B2A40;
  padding: .625rem;
  border-radius: .5rem;
}

.cityName {
  font-size: 1.125rem;
  color: yellow;
  margin-bottom: .3125rem;
}

.cityPrice {
  font-size: 1.125rem;
  line-height: 2.3125rem;
  color: #007bff;
}

.cityDuration {
  font-size: 1rem;
  color: #fff9f9f3;
}

.contentCityInfo {
  display: flex;
}

/** */
Reviews SEction */ .reviews_section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews {
  width: 90%;
  min-height: 37.3125rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 2.3125rem;
}

.reviews_heading,
.weather_heading,
.journal {
  color: #ffd600;
  text-align: center;
  line-height: 4.375rem;
  font-size: 2.5rem;
  letter-spacing: .1875rem;
}

.card_views {
  width: clamp(9.375rem, 100%, 27.75rem);
  height: 16.25rem;
  padding: 1.8125rem;
  border-radius: 1.25rem;
  border: .0625rem solid #ffffff;
  background: #121E28;
  -webkit-backdrop-filter: blur(.125rem);
          backdrop-filter: blur(.125rem);
  overflow: hidden;
}

.card_views:hover {
  box-shadow: .25rem .25rem 1.125rem .125rem #ffd600;
  transform: translateY(-0.3125rem);
  transition: transform 0.3s ease;
}

.userInfo {
  display: flex;
  gap: .9375rem;
  align-items: center;
}

.userImg {
  width: 2.875rem;
  height: 2.875rem;
  border-radius: 6.25rem;
}

.userName {
  font-weight: 800;
}

.userMail {
  font-style: italic;
  font-size: .875rem;
  font-weight: lighter;
}

.userMail p {
  color: #cfe6fab0;
}

.commentary {
  line-height: 1.375rem;
  margin: 1.25rem 0;
  text-align: center;
}

.stars {
  width: 100%;
  text-align: center;
}

.slideIcon {
  display: none;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideIcon {
  cursor: pointer;
  width: 1.875rem;
  height: 1.875rem;
  margin: 0 .625rem;
}

.card_views {
  display: none;
}

/** weather section */
.weather_section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#minTemp,
#maxTemp {
  color: rgb(0, 0, 0);
  width: 6.25rem;
  height: 1.875rem;
}

.destination-item {
  margin-bottom: .625rem;
  padding: .625rem;
  border: .0625rem solid #ccc;
  border-radius: .3125rem;
}

#getWeatherButton {
  width: 6.25rem;
  height: 1.875rem;
  background-color: cadetblue;
}

.searchImg,
.searchbtn {
  width: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.searchbtn {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  background-color: transparent;
}

.cardCity {
  width: clamp(18.75rem, 90%, 35.625rem);
  border-radius: 2.75rem;
  background: radial-gradient(73.19% 111.55% at 93.07% 74.31%, #45278B 0%, #2E335A 100%);
  box-shadow: 0rem .0625rem 0rem 0rem #FFF inset, 0rem 1.25rem 6.25rem 0rem rgba(74, 57, 127, 0.70);
  color: #fff;
  margin: 2.5rem auto 0;
  border-radius: 1.25rem;
  padding: 1rem 3.625rem;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  gap: 1.25rem;
  align-items: center;
  justify-content: space-between;
}

.search_input {
  width: clamp(12.5rem, 100%, 31.25rem);

}

.weather_icon {
  width: 10.625rem;
  margin-top: 1.875rem;
}

.temp {
  font-size: 5rem;
  font-family: Manrope;
  background: var(--cool-gray-gradient-light, linear-gradient(180deg, #F9FAFB 0%, rgba(249, 250, 251, 0.00) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.city {
  font-size: 2.8125rem;
  margin-top: 1.25rem;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25rem;
  margin-top: 3.125rem;
}

.weather img {
  width: 2.5rem;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.humidity,
.wind {
  font-size: 1.75rem;
  margin: 1.25rem 1.25rem .625rem;
}

.nameTemp {
  margin: 1.25rem 1.25rem .625rem;
}

.errorCityName {
  text-align: start;
  line-height: 2.5rem;
  color: var(--color-error-red);
  display: none;
}

.weather-icon img {
  width: 6.25rem;
}

.searchImg {
  width: 3.375rem;
  margin-bottom: 1.0625rem;
}


.searchImg:hover {
  box-shadow: .125rem .1875rem 3.125rem .3125rem #95c0f4d9;
}


.conatiner_weather {
  margin: 3.125rem 0;
}

.plansText {
  width: 60%;
  line-height: 1.875rem;
  margin: 1.25rem auto;
}


#citySelect {
  padding: .5625rem .25rem;
  font-size: 1.25rem;
  border-radius: .25rem;
  text-align: center;
  margin: .625rem 0;
  background-color: cornflowerblue;
}

.selectText {
  line-height: 1.875rem;
  color: yellow;
  margin: 1.25rem 0;
}

.footer {
  height: 5.625rem;
  background-image: linear-gradient(180deg, #ffd500f5, #ffc800a9);
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  align-content: space-between;

}

.listFooter,
.iconFooter {
  display: flex;
  gap: 1.25rem;

}

.listFooter li {
  font-size: 1.375rem;
  font-family: monospace;
  color: var(--color-blue-hover);
}

.listFooter li:hover {
  color: #2E335A;
}

.iconFooterLogo {
  width: 3.125rem;
}

/* Post page style */
.post_section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  ;
  box-shadow: 0rem 0rem .625rem rgba(0, 0, 0, 0.979);
  padding: 1.25rem;
  border-radius: .5rem;
  text-align: center;
  position: relative;
  margin: 6.25rem;
  ;
}

#postForm {
  width: clamp(12.5rem, 100%, 37.5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.labelPost {
  font-size: 1.125rem;
  margin-bottom: 1rem;

}

textarea {
  width: 100%;
  height: 3.125rem;
  padding: .625rem;
  margin-bottom: 1rem;
  border: .0625rem solid #ccc;
  border-radius: .25rem;
  background-color: transparent;
  resize: none;
  height: 7.5rem;
  background-color: rgba(0, 0, 0, 0.2);
}

.postSent {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: .625rem 1.25rem;
  border-radius: .25rem;
  font-size: 1.125rem;
  cursor: pointer;
}

.postSent:hover {
  background-color: #0056b3;
}

.post-container {
  width: clamp(18.75rem, 100%, 43.75rem);
  background-color: #fff;
  box-shadow: 0rem .3125rem .9375rem rgba(0, 0, 0, 0.2);
  border-radius: .5rem;
  padding: 1.25rem;
  text-align: left;
  transition: transform 0.2s ease-in-out;
  display: none;
  margin-top: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1.25rem;
  display: none;
}

.post-container h2,
.post-container p,
strong {
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: black;
}

textarea::-webkit-input-placeholder, input::-webkit-input-placeholder {
  font-size: .9375rem;
  color: bisque;
}

textarea::-moz-placeholder, input::-moz-placeholder {
  font-size: .9375rem;
  color: bisque;
}

textarea:-ms-input-placeholder, input:-ms-input-placeholder {
  font-size: .9375rem;
  color: bisque;
}

textarea::-ms-input-placeholder, input::-ms-input-placeholder {
  font-size: .9375rem;
  color: bisque;
}

textarea::placeholder,
input::placeholder {
  font-size: .9375rem;
  color: bisque;
}

.post-container h2 {
  font-size: 1.5625rem;
  color: darkorange;
  font-family: monospace, sans-serif;
}

.post-container:hover {
  transform: scale(1.02);
}

/**--------------------------- Media Query 90rem */
@media only screen and (max-width: 90rem) {
  .banner_section {
    width: 100%;
  }

  .about_text {
    width: 80%;
  }

}


/**--------------------------- Media Query 81.25rem */
@media only screen and (max-width: 81.25rem) {

  /** registration page */
  #registration_container {
    flex-wrap: wrap;
    padding: 1.0625rem 1.875rem;
    gap: 10%;
  }

  .sign_text {
    font-size: 1.5625rem;
  }

  .greetings_card {
    width: clamp(31.25rem, 100%, 37rem);
    min-height: 9.375rem;
    box-shadow: none;
  }

  .signMessage {
    font-size: 1rem;
  }

  /** banner Section */
  .banner_section {
    flex-direction: column;
    align-items: center;
    min-height: 53.75rem;
  }

  .banner_content {
    width: 90%;
    position: absolute;
    z-index: 2;
  }

  #customVideo {
    width: 56.25rem;
    height: auto;
    z-index: 1;
    border-radius: .5rem;
    margin-top: -0.75rem;
    transform: rotate(270deg);
  }

  .contain {
    max-height: 80.6875rem;
    margin-top: -19.4375rem;
  }

  .arrow {
    margin-top: -18.75rem;
  }

  .hidearrow {
    display: none;
  }

  .topArrow {
    margin-top: 3.3125rem;
  }

  .service {
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.875rem;
  }

  .card {
    flex-direction: column;
  }

  .creatorInfo {
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
  }

  .card_content {
    width: clamp(12.5rem, 90%, 45.0625rem);
  }

  .slideIcon {
    width: 1.875rem;
    display: inline-block;
  }

  .reviews {
    min-height: 20.5rem;
  }

  .navigator {
    width: 100%;
    height: 4.375rem;
    text-align: center;
  }
}

/** media 64rem */
@media only screen and (max-width:64rem) {
  .contentCityInfo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  .cityCard {
    width: 100%;
  }

  .card_views {
    width: clamp(12.5rem, 100%, 43.625rem);
  }
}


/** Media Query 51.25rem */
@media only screen and (max-width: 51.25rem) {

  .register_btn,
  .menu_icon.close {
    display: none;
  }

  .menu_icon.burger {
    display: inline-block;
  }

  .navbar {
    padding: 0 1.25rem;
    justify-content: space-evenly;
  }

  .nav_list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--color-dark-gunmetal);
    border: 0.0625rem solid var(--color-gunmetal);
    width: 100%;
  }

  .nav_list.active {
    display: flex;
  }

  .nav_list a {
    display: block;
    text-decoration: none;
    color: var(--color-white);
    padding-bottom: 0.625rem;
    margin: 0rem 1.25rem 0.3125rem;
    border-bottom: 0.125rem solid transparent;
    transition: color 0.3s ease, border-bottom 0.4s ease-in-out;
  }

  .nav_list a:hover {
    color: var(--color-blue-hover);
    border-bottom-color: var(--color-blue-hover);
  }

  /**  Registracion Page */
  */ .name-input {
    margin-bottom: 0rem;
  }

  .success-content p,
  .success-content h2 {
    font-size: .75rem;
    line-height: 2.5rem;
    letter-spacing: .125rem;
  }

  .slider {
    width: 90%;
    margin: 0 auto;
  }

  #citySelect {
    margin-left: -3.125rem;
  }

}

.navbar {
  transition: transform 0.5s ease-in-out;
  transform: translateY(0);
}

@media only screen and (max-width: 29.6875rem) {
  .commentary {
    font-size: .75rem;
  }

  .userInfo {
    flex-wrap: wrap;
  }

  .card_views {
    height: auto;
  }

  .cardCity {
    padding: .75rem 0rem;
    background: none;
    box-shadow: none;
  }

  .search {
    flex-direction: column;
    justify-content: center;
  }

  .search_input {
    width: 15.625rem;
  }

  .humidity .wind {
    font-size: 1.125rem;
  }

  .footer {
    flex-direction: column;
    padding: 5rem 0;
  }

  .listFooter {
    margin: 1.25rem 0;
  }

  .user {
    margin-right: 0rem;
  }

  .post_section {
    margin: 6.25rem 0;
  }

  .post-container {
    width: 100%;
  }
}


@media only screen and (max-width: 26.5625rem) {
  .welcome {
    font-size: 1.25rem;
  }

  .about_text {
    font-size: .9375rem;
    line-height: 1.625rem;
  }

  .col {
    flex-wrap: wrap;
  }
}


@media only screen and (max-width: 22.5rem) {

  /* * registration Page */
  #registration_container {
    padding: .6875rem;
  }

  .sign_text {
    font-size: .8125rem;
    line-height: 2.5rem;
  }

  .signMessage,
  .cancel {
    font-size: .75rem;
    line-height: 1.25rem;
  }

  .register_nameItem h3 {
    font-size: 1rem;
  }

  .logo_header {
    display: none;
  }

  .input_error {
    font-size: .75rem;
  }

  .share,
  .welcome {
    font-size: .9375rem;
    line-height: 1.5rem;
  }

  /**banner section  */
  .about_text {
    width: 90%;
    margin: 2.1875rem 0;
    font-size: .75rem;
  }

  .more_btn {
    font-size: .8125rem;
  }

  .topArrow {
    margin-top: 2.0625rem;
  }


  .reviews_heading {
    font-size: 1.25rem;
  }
}