/* CSS Variables */
:root {
  --color-bg: #0a11172d;
  --color-dark-gunmetal: #182632;
  --color-gunmetal: #243241;
  --color-purple-light: #e2c1f9;
  --color-yellow: #ffc803;
  --color-white: #fff;
  --color-platinum: #e5e5e5;
  --color-blue-hover: #5021ff;
  --color-error-red: #E84142;
  --font-family-mono: "PT Mono", monospace;
  --animation-duration: 0.5s;
}

* {
  color: var(--color-white);
  font-family: var(--font-family-mono);
}

body {
  min-height: 100vh;
  background-color: var(--color-bg);
  font-weight: 700;
  background-image: linear-gradient(0deg,
      #3a3b45 0%,
      #304658 50%,
      #0a1117 100%);
}

/* Header Styles */

header {
  min-height: 4.375rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-dark-gunmetal);
  border-bottom: 0.0625rem solid var(--color-gunmetal);
  z-index: 100;
  transition: opacity 0.5s ease, transform 0.5s ease;
  padding: 0 1.875rem;
}

.navbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 4.375rem;
  border-bottom: 0.0625rem solid var(--color-gunmetal);
  transform: translateY(-100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
  padding: 0 1.875rem;
}

#logo_name {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.1875rem;
  display: inline-block;
  padding: 0.3125rem;
  color: var(--color-platinum);
}

.nav_item {
  display: flex;
  gap: 1.25rem;
  align-items: center;
}

.nav_list {
  list-style: none;
  display: flex;
  gap: 1.25rem;
}

.nav_list a {
  text-decoration: none;
  color: var(--color-white);
  padding-bottom: 0.625rem;
  border-bottom: 0.125rem solid transparent;
  transition: color 0.3s ease, border-bottom 0.4s ease-in-out;
}

.nav_list a:hover {
  color: var(--color-blue-hover);
  border-bottom-color: var(--color-blue-hover);
}

.register_btn,
.more_btn {
  padding: 0.6875rem 1.25rem;
  border-radius: 0.75rem;
  background-color: var(--color-gunmetal);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.register_btn:hover,
.more_btn:hover {
  background-color: var(--color-blue-hover);
  transform: scale(1.05);
}

.menu_icon {
  display: none;
  height: 1.875rem;
}

.nav_item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/*Menu Animation */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.nav_list.active {
  animation: slideDown var(--animation-duration) ease-in-out;
}

.nav_list:not(.active) {
  max-height: 0;
  animation: slideUp var(--animation-duration) ease-in-out;
  overflow: hidden;
}

/* Registration Page */
.register-link {
  display: none;
}

#registration_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: auto;
  gap: 20%;
  color: var(--color-purple-light);
}

.greetings_card {
  width: clamp(200px, 100%, 400px);
  min-height: 300px;
  display: grid;
  align-content: space-evenly;
  box-shadow: 10px 14px 18px 2px rgba(4, 64, 148, 0.487);
}

.backIcon {
  width: 30px;
  vertical-align: middle;
}

.cancel,
.sign_text,
.signMessage {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.sign_text {
  font-size: 50px;
  line-height: 65px;
  color: var(--color-blue-hover);
  animation: signText 5s linear infinite;
}


@keyframes signText {
  0% {
    color: #bc7af9;
  }

  50% {
    color: #f8ff95;
  }

  100% {
    color: #a6ff96;
  }
}

.signMessage {
  font-size: 18px;
  line-height: 28px;
}

.register_card {
  width: clamp(200px, 100%, 600px);
  box-shadow: 20px 14px 228px 100px rgba(4, 64, 148, 0.487);
}

.register_nameItem {
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 7px 20px 108px 2px var(--color-yellow);
  border-bottom: 2px solid var(--color-yellow);
}

.name-input {
  margin-bottom: 20px;
}

/* Form Styles */
.form_group {
  margin-bottom: 20px;
}

.user_form {
  background-color: #103f986a;
}

label {
  display: block;
  margin: 13px 8px;
}

.form_group label {
  color: var(--color-purple-light);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
  width: 100%;
  height: 60px;
  border-radius: 5px;
  border: 2px solid #038abff0;
  background-color: #0f202f40;
  box-shadow: 1px 5px 8px 12px #01369988;
  padding: 0 20px;
  margin-bottom: 16px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

.form_group input:hover {
  border: 2px solid var(--color-yellow);
  box-shadow: 0px 1px 5px 0px var(--color-yellow);
}

.form_group input:focus {
  border: 2px solid var(--color-purple-light);
  box-shadow: 0px 1px 5px 0px var(--color-purple-light);
}

.login {
  width: clamp(50px, 100%, 150px);
  height: 50px;
  display: block;
}

.input_error {
  color: var(--color-error-red);
  font-size: 14px;
  display: none;
}

.password_input_container {
  position: relative;
}

.password_input {
  padding-right: 30px;
}

.password_toggle_icon {
  cursor: pointer;
  width: 28px;
  position: absolute;
  right: 19px;
  top: 40%;
  transform: translateY(-50%);
  z-index: 1;
}

.success-container {
  width: clamp(150px, 90%, 400px);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px 20px;
  text-align: center;
  animation: slide-in 0.5s ease-in-out;
  border-radius: 20px;
  background-color: var(--color-gunmetal);
  box-shadow: 2px 14px 300px #038abff0;
  display: none;
  z-index: 20;
}

.success-content h2 {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 4px;
  color: #16FF00;
}

.success-content p {
  color: #FFED00;
  font-size: 18px;
  line-height: 50px;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

#continueButton {
  border: none;
  min-width: 120px;
  width: clamp(120px, 100%, 300px);
  height: 50px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--color-blue-hover);
}

#continueButton:hover {
  background-color: #5121ff8d;
}


.account_navIcon {
  width: 30px;
}

.user {
  margin-right: 100px;
}

.navbar_icon {
  display: flex;
  gap: 10px;
}

/**------------------------------ Banner Section */
.banner_section {
  width: 95%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin: auto;
  overflow: hidden;
}


#customVideo::-webkit-media-controls,
#customVideo::-webkit-media-controls-enclosure,
#customVideo::-webkit-media-controls-panel,
#customVideo::media-controls-panel {
  display: none !important;
}

#customVideo {
  pointer-events: none;
}

#customVideo {
  width: clamp(150px, 100%, 513px);
  pointer-events: none;
  border-radius: 34px 632px 139px 688px;
  margin-top: -12px;
  transform: rotate(260deg);
}

.banner_content {
  width: clamp(100px, 100%, 635px);
  text-align: center;
  z-index: 1;
}


.greetings_card,
.FtMono {
  font-family: "Montserrat", sans-serif;
}


.welcome {
  font-size: 50px;
  word-spacing: 5px;
  letter-spacing: 5px;
  background-image: linear-gradient(to right, #fbff00, #ff9100);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.share {
  line-height: 70px;
}

.about_text {
  line-height: 30px;
  margin: 35px;
  padding-bottom: 15px;
  text-align: start;
  border-bottom: 2px solid rgb(194, 253, 194);
}

.more_btn {
  width: clamp(20px, 100%, 350px);
  height: 50px;
  font-size: 17px;
}

.arrow_container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 64px; */

}

.arrow {
  width: 50px;
  border-radius: 50%;
  animation: slideUpDown .6s infinite alternate;
}

.arrow:hover {
  box-shadow: 12px 21px 118px 10px var(--color-blue-hover);
}

@keyframes slideUpDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(10px);
  }
}

/** Roadmap Section */
.about_section {
  margin-top: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.roadmap {
  width: clamp(200px, 100%, 1064px);
  text-align: center;
  overflow: hidden;
}

.service {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.title {
  line-height: 54px;
}

.service_name {
  margin: 10px 0;
  color: #FFD600;
}

.service_list {
  line-height: 23px;
  text-align: start;
}

.creatorInfo {
  border-radius: 24px;
  border: 3px solid #FFD12F;
  background: #ffffff05;
  margin-top: 50px;
}

.country {
  width: clamp(200px, 100%, 701px);
  min-height: 196px;
  margin: 20px auto;
}

.countryBox {
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.10);
  display: inline-flex;
  padding: 8px 20px 8px 8px;
  align-items: center;
  gap: 16px;
  margin: 19px 5px -1px;
}

.card {
  width: clamp(200px, 100%, 904px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: 20px auto;
  gap: 40px;
}

.card_content {
  width: clamp(200px, 100%, 432px);
  min-height: 236px;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  border-radius: 16px;
  padding: 28px;
  background: #ffffff1a;
}

.uparrow {
  width: 40px;
  position: fixed;
  right: 20px;
  bottom: 10px;
  z-index: 111;
}

.destinations {
  width: clamp(200px, 100%, 1102px);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin: 30px auto;
}

.rev {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.cityCard {
  width: clamp(100px, 100%, 358px);
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.cityImg {
  width: 100%;
  height: 503px;
  border-radius: 24px;
}

.cityInfo {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #1B2A40;
  padding: 10px;
  border-radius: 8px;
}

.cityName {
  font-size: 18px;
  color: yellow;
  margin-bottom: 5px;
}

.cityPrice {
  font-size: 18px;
  line-height: 37px;
  color: #007bff;
}

.cityDuration {
  font-size: 16px;
  color: #fff9f9f3;
}

.contentCityInfo {
  display: flex;
}
/** */ Reviews SEction */
.reviews_section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews {
  width: 90%;
    min-height: 597px;   
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 37px;
}

.reviews_heading , .weather_heading {
  color: #ffd600;
  text-align: center;
  line-height: 70px;
  font-size: 40px;
  letter-spacing: 3px;
}

.card_views {
  width: clamp(150px, 100%, 444px);
  height: 260px;
  padding: 29px;
  border-radius: 20px;
  border: 1px solid #ffffff;
  background: #121E28;
  backdrop-filter: blur(2px);
  overflow: hidden;
}
.card_views:hover {
  box-shadow: 4px 4px 18px 2px #ffd600;
  transform: translateY(-5px); 
  transition: transform 0.3s ease; 
}

.userInfo {
  display: flex;
  gap: 15px;
  align-items: center;
}

.userImg {
  width: 46px;
  height: 46px;
  border-radius: 100px;
}

.userName {
  font-weight: 800;
}
.userMail {
  font-style: italic;
  font-size: 14px;
  font-weight: lighter;
}
.userMail p{
    color: #cfe6fab0;
}
.commentary {
  line-height: 22px;
  margin: 20px 0;
  text-align: center;
}
.stars {
   width: 100%;
   text-align: center;
}
.slideIcon {
  display: none;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideIcon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

.card_views {
  display: none;
}
/** weather section */
.weather_section {
  display: flex;
  justify-content: center;
  align-items: center;
}

#minTemp,
#maxTemp {
  color: rgb(0, 0, 0);
  width: 100px;
  height: 30px;
}

.destination-item {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#getWeatherButton {
  width: 100px;
  height: 30px;
  background-color: cadetblue;
}

.searchImg,
.searchbtn {
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.searchbtn {
  width: 80px;
  height: 80px;
  cursor: pointer;
  background-color: transparent;
}

.cardCity {
  width: clamp(300px, 90%, 570px);
  border-radius: 44px;
  background: radial-gradient(73.19% 111.55% at 93.07% 74.31%, #45278B 0%, #2E335A 100%);
  box-shadow: 0px 1px 0px 0px #FFF inset, 0px 20px 100px 0px rgba(74, 57, 127, 0.70);
  color: #fff;
  margin: 40px auto 0;
  border-radius: 20px;
  padding: 16px 58px;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.search_input {
  width: clamp(200px, 100%, 500px);

}

.weather_icon {
  width: 170px;
  margin-top: 30px;
}

.temp {
  font-size: 80px;
  font-family: Manrope;
  background: var(--cool-gray-gradient-light, linear-gradient(180deg, #F9FAFB 0%, rgba(249, 250, 251, 0.00) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.city {
  font-size: 45px;
  margin-top: 20px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}

.weather img {
  width: 40px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.humidity,
.wind {
  font-size: 28px;
  margin: 20px 20px 10px;
}

.nameTemp {
  margin: 20px 20px 10px;
}

.errorCityName {
  text-align: start;
  line-height: 40px;
  color: var(--color-error-red);
  display: none;
}

.weather-icon img {
  width: 100px;
}

.searchImg {
  width: 54px;
  margin-bottom: 17px;
}


.weather_section {
  text-align: center;
}


.searchImg:hover {
  box-shadow: 2px 3px 50px 5px #95c0f4d9;
}


.conatiner_weather {
  margin: 50px 0;
}

.plansText {
  width: 60%;
  line-height: 30px;
  margin: 20px auto;
}


#citySelect {
  padding: 9px 4px;
  font-size: 20px;
  border-radius: 4px;
  text-align: center;
  margin: 10px 0;
  background-color: cornflowerblue;
}

.selectText {
  line-height: 30px;
  color: yellow;
  margin: 20px 0;
}

/**--------------------------- Media Query 1440px */
@media only screen and (max-width: 1440px) {
  .banner_section {
    width: 100%;
  }

  .about_text {
    width: 80%;
  }

}


/**--------------------------- Media Query 1300px */
@media only screen and (max-width: 1300px) {

  /** registration page */
  #registration_container {
    flex-wrap: wrap;
    padding: 17px 30px;
    gap: 10%;
  }

  .sign_text {
    font-size: 25px;
  }

  .greetings_card {
    width: clamp(500px, 100%, 592px);
    min-height: 150px;
    box-shadow: none;
  }

  .signMessage {
    font-size: 16px;
  }

  /** banner Section */
  .banner_section {
    flex-direction: column;
    align-items: center;
    min-height: 860px;
  }

  .banner_content {
    width: 90%;
    position: absolute;
    z-index: 2;
  }

  #customVideo {
    width: 900px;
    height: auto;
    z-index: 1;
    border-radius: 8px;
    margin-top: -12px;
    transform: rotate(270deg);
  }

  .contain {
    max-height: 1291px;
    margin-top: -311px;
  }

  .arrow {
    margin-top: -300px;
  }

  .hidearrow {
    display: none;
  }

  .topArrow {
    margin-top: 53px;
  }

  .service {
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
  }

  .card {
    flex-direction: column;
  }

  .creatorInfo {
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
  }

  .card_content {
    width: clamp(200px, 90%, 721px);
  }

  .slideIcon {
    width: 30px;
    display: inline-block;
  }

  .reviews {
    min-height: 328px;
  }
  .navigator {
    width: 100%;
    height: 70px;
    text-align: center;
  }
}

/** media 1024px */
@media only screen and (max-width:1024px) {
  .contentCityInfo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  .cityCard {
    width: 100%;
  }
  .card_views {
    width: clamp(200px, 100%, 698px);
  }
}


/** Media Query 820px */
@media only screen and (max-width: 51.25rem) {

  .register_btn,
  .menu_icon.close {
    display: none;
  }

  .menu_icon.burger {
    display: inline-block;
  }

  .navbar {
    padding: 0 1.25rem;
    justify-content: space-evenly;
  }

  .nav_list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--color-dark-gunmetal);
    border: 0.0625rem solid var(--color-gunmetal);
    width: 100%;
  }

  .nav_list.active {
    display: flex;
  }

  .nav_list a {
    display: block;
    text-decoration: none;
    color: var(--color-white);
    padding-bottom: 0.625rem;
    margin: 0rem 1.25rem 0.3125rem;
    border-bottom: 0.125rem solid transparent;
    transition: color 0.3s ease, border-bottom 0.4s ease-in-out;
  }

  .nav_list a:hover {
    color: var(--color-blue-hover);
    border-bottom-color: var(--color-blue-hover);
  }

  /**  Registracion Page */
  */ .name-input {
    margin-bottom: 0px;
  }

  .success-content p,
  .success-content h2 {
    font-size: 12px;
    line-height: 40px;
    letter-spacing: 2px;
  }

  .slider {
    width: 90%;
    margin: 0 auto;
  }

  #citySelect {
    margin-left: -50px;
  }
  

}

.navbar {
  transition: transform 0.5s ease-in-out;
  transform: translateY(0);
}

@media only screen and (max-width: 475px) {
  .commentary {
   font-size: 12px;
  }
  .userInfo {
    flex-wrap: wrap;
  }
  .card_views {
    height: auto;
  }
  .cardCity {
    padding: 12px 0px;
    background: none;
    box-shadow: none;
  }
  .search {
    flex-direction: column;
    justify-content: center;
}
.search_input {
  width: 250px;
}
.humidity .wind {
  font-size: 18px;
}
}


@media only screen and (max-width: 425px) {
  .welcome {
    font-size: 20px;
  }

  .about_text {
    font-size: 15px;
    line-height: 26px;
  }
  .col {
    flex-wrap: wrap;
  }
}


@media only screen and (max-width: 360px) {
  /* * registration Page */
  #registration_container {
    padding: 11px;
  }

  .sign_text {
    font-size: 13px;
    line-height: 40px;
  }

  .signMessage,
  .cancel {
    font-size: 12px;
    line-height: 20px;
  }

  .register_nameItem h3 {
    font-size: 16px;
  }

  .logo_header {
    display: none;
  }

  .input_error {
    font-size: 12px;
  }

  .share,
  .welcome {
    font-size: 15px;
    line-height: 24px;
  }

  /**banner section  */
  .about_text {
    width: 90%;
    margin: 35px 0;
    font-size: 12px;
  }

  .more_btn {
    font-size: 13px;
  }

  .topArrow {
    margin-top: 33px;
  }

  .banner_content {
    margin-top: -328px;
  }

  .reviews_heading {
    font-size: 20px;
  }
}